.live-view-page {
  background: linear-gradient(to bottom, #4d6a6d, #28393b);
  height: 100%;
}
.live-view-page .panels {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.live-view-page .panels .left {
  margin-left: 20px;
}

.live-view-page .panels .right {
  margin-right: 20px;
  width: 60%;
}

.live-view-page .proceedings {
  margin-top: 20px;
}

h2 {
  color: white;
}
