.review-page {
  background: linear-gradient(to bottom, #4d6a6d, #28393b);
  height: 100%;
}

.review-page .panels {
  display: flex;
}

.review-page .panels .left {
  width: 50%;
  display: flex;
}
.review-page .panels .right {
  width: 50%;
  margin: 20px;
}
